@media only screen and (max-width: 992px) {
    .navbar-brand>img {
        height: 56px !important;
        padding: 0px;
        width: auto;
    }
    .navbar-brand {
        padding-left: 20vw !important;
    }
}

.navbar-brand {
    padding-left: 10vw;
}

.navbar-brand>img {
    height: 64px;
    padding: 0px;
    width: auto;
}

nav ul li a:hover {
    color: brown;
}

nav ul {
    padding-right: 5vw;
}

.parallax-container {
    height: 700px;
}

p {
    font-family: sans-serif;
}