@media only screen and (max-width: 992px) {
    .brand-logo>img {
        height: 56px !important;
        padding: 0px;
        width: auto;
    }
    .parallax-container {
        height: 500px !important;
    }
}

@media only screen and (min-width: 992px) {
    .brand-logo {
        padding-left: 10vw !important;
    }
}

.brand-logo>img {
    height: 64px;
    padding: 0px;
    width: auto;
}

nav ul li a:hover {
    color: brown !important;
}

nav ul {
    padding-right: 5vw;
}

.parallax-container {
    height: 700px;
}

p {
    font-family: sans-serif;
}

#nav-mobile a {
    color: white;
}

h1 {
    font-weight: 600;
}

#logo_content {
    width: 100% !important;
}

.activator {
    font-weight: 400 !important;
}

.nav-wrapper {
    background: rgb(0, 0, 0);
    background: linear-gradient(55deg, rgba(0, 0, 0, 1) 0%, rgba(128, 3, 3, 1) 100%);
}

hr {
    border: 2px solid rgba(128, 3, 3, 1);
}

a .fa {
    transition: transform .8s;
}

a .fa:hover {
    transform: rotate(360deg);
}