@media only screen and (max-width: 992px) {
    .brand-logo>img {
        height: 56px !important;
        padding: 0px;
        width: auto;
    }
    .parallax-container {
        height: 500px !important;
    }
    nav .brand-logo {
        left: 47% !important;
    }
}

@media only screen and (min-width: 992px) {
    .brand-logo {
        padding-left: 10vw !important;
    }
}

.brand-logo>img {
    height: 64px;
    padding: 0px;
    width: auto;
}

nav ul li a:hover {
    color: brown !important;
}

nav ul {
    padding-right: 5vw;
}

.parallax-container {
    height: 700px;
}

p {
    font-family: sans-serif;
}

#nav-mobile a {
    color: white;
}

h1 {
    font-weight: 600;
}

#logo_content {
    width: 100% !important;
}

.activator {
    font-weight: 400 !important;
}

.nav-wrapper {
    background: rgb(0, 0, 0);
    background: linear-gradient(55deg, rgba(0, 0, 0, 1) 0%, rgba(128, 3, 3, 1) 100%);
}

.nav {
    width: 100% !important;
}

hr {
    border: 2px solid rgba(128, 3, 3, 1);
}

.card-reveal a .fa {
    transition: transform .8s;
    font-size: 2.3rem;
}

.card-reveal a .fa:hover {
    transform: rotate(360deg);
}

nav .fa {
    font-size: 1.35 rem;
}

.sidenav a {
    font-size: 1.5rem !important;
}

.short-hr {
    width: 30%;
}

.sidenav {
    padding-top: 6%;
    padding-left: 5% !important;
    width: 60% !important;
    background: linear-gradient(10deg, rgba(0, 0, 0, 1) 0%, rgba(128, 3, 3, 1) 100%);
}

.sidenav li a {
    font-size: 1.8rem !important;
    padding-bottom: 4rem !important;
    color: white;
}

.sidenav li a i {
    color: white;
}

.card-content h6 {
    font-weight: 500;
    font-size: 1.2rem;
}

.page-footer li span a i {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 60px;
}